<div class="well bs-component form" >
	<%= form_for(@cliente) do |f| %>

	<%= form_text_input_field @cliente, :razaosocial %>
	<%= form_text_input_field @cliente, :nomefantasia %>
	<%= form_text_input_field @cliente, :tipo %>
	<%= form_text_input_field @cliente, :documento %>
	<%= form_text_input_field @cliente, :telefone %>
	
	<%= f.submit %>

	<% end %>
</div>