<%= form_for(@cliente) do |f| %>
<p>
	<%= f.label :razaosocial %>
	<%= f.text_field :razaosocial %>
	<%= error_tag @cliente, :razaosocial %>
</p>

<div class="field">
	<%= f.label :nomefantasia %>
	<%= f.text_field :nomefantasia %>
	<%= error_tag @cliente, :nomefantasia %>
</div>
<div class="field">
	<%= f.label :tipo %>
	<%= f.text_field :tipo %>
	<%= error_tag @cliente, :tipo %>
</div>
<div class="field">
	<%= f.label :documento %>
	<%= f.text_field :documento %>
	<%= error_tag @cliente, :documento %>
</div>
<div class="field">
	<%= f.label :telefone %>
	<%= f.text_field :telefone %>
	<%= error_tag @cliente, :telefone %>
</div>
<div class="actions">
	<%= f.submit %>
</div>
<% end %>
