<div class="row ui-sortable">
	<div class="col-lg-12" style="position: relative;">
		<div class="box">
			<header>
				<div class="icons">
					<i class="fa fa-table"></i>
				</div>
				<h5><%= t ".#{:listagem}" %></h5>
			</header>
			<div id="collapse4" class="body">
				<div id="dataTable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
					<div class="row">
						<div class="col-xs-6">
							<div class="dataTables_length" id="dataTable_length">
								<label><%= t "index.mostrar" %>
									<select name="dataTable_length" aria-controls="dataTable" class="form-control input-sm">
										<option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option>
									</select> <%= t "index.registros" %></label>
							</div>
						</div>
						<div class="col-xs-6">
							<div id="dataTable_filter" class="dataTables_filter">
								<label>Search:
									<input type="search" class="form-control input-sm" placeholder="" aria-controls="dataTable">
								</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<table id="dataTable" class="table table-bordered table-condensed table-hover table-striped dataTable no-footer" role="grid" aria-describedby="dataTable_info">
								<thead>
									<tr role="row">
										<th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 158px;"><%= t ".#{:documento}" %></th>
										<th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 197px;"><%= t ".#{:razaosocial}" %></th>
										<th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 180px;"><%= t ".#{:nomefantasia}" %></th>
										<th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 137px;"><%= t ".#{:tipo}" %></th>
										<th class="sorting_desc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 99px;" aria-sort="descending"><%= t ".#{:telefone}" %></th>
										<th class="sorting_desc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 99px;" aria-sort="descending"><%= t "index.acoes_no_registro" %></th>
									</tr>
								</thead>
								<tbody>
									<% @clientes.each do |cliente| %>

									<tr role="row" >
										<td class=""> <%= cliente.documento %></td>
										<td class=""> <%= cliente.razaosocial %></td>
										<td class=""> <%= cliente.nomefantasia %></td>
										<td class=""> <%= cliente.tipo %></td>
										<td class=""> <%= cliente.telefone %></td>
										<td class=""> <%= link_to edit_cliente_path(cliente)  do %>
										<% (content_tag :i, "",  :class => "glyphicon glyphicon-edit") %>
										<% end %>
										<%= link_to cliente, method: :delete, data: { confirm: "Tem certeza que dseja exluir o registro?" } do  %>
										<% (content_tag :i, "",  :class => "glyphicon glyphicon-remove")  %>
										<%end  %> 
										</td>
									</tr>
									<% end %>
								</tbody>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
								<%= t 'index.quantidade_de_registro', quantidade_inicial: 1, quantidade_final: 10, quantidade_total: @clientes.size %>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
								<ul class="pagination">
									<li class="paginate_button previous disabled" aria-controls="dataTable" tabindex="0" id="dataTable_previous">
										<a href="#">Previous</a>
									</li>
									<li class="paginate_button active" aria-controls="dataTable" tabindex="0">
										<a href="#">1</a>
									</li>
									<li class="paginate_button " aria-controls="dataTable" tabindex="0">
										<a href="#">2</a>
									</li>
									<li class="paginate_button " aria-controls="dataTable" tabindex="0">
										<a href="#">3</a>
									</li>
									<li class="paginate_button " aria-controls="dataTable" tabindex="0">
										<a href="#">4</a>
									</li>
									<li class="paginate_button " aria-controls="dataTable" tabindex="0">
										<a href="#">5</a>
									</li>
									<li class="paginate_button " aria-controls="dataTable" tabindex="0">
										<a href="#">6</a>
									</li>
									<li class="paginate_button next" aria-controls="dataTable" tabindex="0" id="dataTable_next">
										<a href="#">Next</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

