<div class="panel panel-index">
	<%= show_header(@cliente.razaosocial) %>
	<%= show_body do %>

	<%= show_full_row @cliente, :razaosocial %>
	<%= show_two_column_row @cliente, :nomefantasia, @cliente, :tipo %>
	<%= show_two_column_row @cliente, :documento, @cliente, :telefone %>

	<%= back_button clientes_path %>
	<%= (edit_button(@cliente)) %>

	<% end %>
</div>