<div class="panel panel-success">
	<div class="panel-heading">
		<h2 class="panel-title show-title"><%= t '.perfil', nome: @cliente.razaosocial %></h2>
	</div>
	<div class="panel-body">

		<div class="row">

			<span class="label label-default"><%= t '.razaosocial' %></span>
			<%= @cliente.razaosocial %>

		</div>
		<div class="row">
			<div class="cell">
				<span class="label label-default"><%= t '.nomefantasia' %></span>
				<%= @cliente.nomefantasia %>
			</div>
			<div class="cell">
				<span class="label label-default"><%= t '.tipo'%></span>
				<%= @cliente.tipo %>
			</div>
		</div>
		<div class="row">
			<div class="cell">
				<span class="label label-default"><%= t '.documento'%></span>
				<%= @cliente.documento %>
			</div>
			<div class="cell">
				<span class="label label-default"><%= t '.telefone'%></span>
				<%= @cliente.telefone %>
			</div>
		</div>

		<%= link_to t('.editar'), edit_cliente_path(@cliente) %> |
		<%= link_to t('links.voltar'), clientes_path %>
	</div>
</div>