<h1><%= t '.perfil', nome: @cliente.razaosocial %> </h1>

<ul>
	<li>
		<%= t '.razaosocial', razaosocial: @cliente.razaosocial %>
	</li>
	<li>
		<%= t '.nomefantasia', nomefantasia: @cliente.nomefantasia %>
	</li>
	<li>
		<%= t '.tipo', tipo: @cliente.tipo %>
	</li>
	<li>
		<% if @cliente.nomefantasia == 'PF' %>
			<%= t '.documentocpf', cpf: @cliente.documento %>
		<%else%>	
			<%= t '.documentocnpj', cnpj: @cliente.documento %>
		<%end%>
	</li>
	<li>
		<%= t '.telefone', telefone: @cliente.telefone %>
	</li>
</ul>

<%= link_to t('.editar'), edit_cliente_path(@cliente) %> |
<%= link_to t('links.voltar'), clientes_path %>
