<!DOCTYPE html>
<html>
	<head>
		<title>Emissor de notas</title>

		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<header>
			<div id="header-wrap" >
				<h1><%= link_to "Emissor de notas", root_path %></h1>
				<nav>
					<ul>
						<li>
							<%= link_to "Clientes", clientes_path%>
						</li>
					</ul>
				</nav>
			</div>
		</header>

		<div id="content">

			<%if notice.present?%>
			<div id="notice" class="alert alert-dismissible alert-success">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<%= notice %>
			</div>
			<%end%>
			<%if alert.present?%>
			<div id="alert" class="alert alert-dismissible alert-warning">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<%= alert %>
			</div>
			<%end%>

			<%= yield %>

		</div>

	</body>
</html>
